/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* General Styles */
/* VARIABLES */
:root {
  font-size: 16px;
  --aqua: #76dad7;
  --grey: #a8a6b7;
  --dark-grey: #707070;
  --black: #100b00;
  --white: #fff;
}
/* RESET */
* {
  margin:0;
  padding:0;
  text-decoration: none;
}
body {
  background-color: var(--white);
  color: var(--black);
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}
ul,
ol {
 list-style-type: none;
}
p {
 line-height: 1.5em;
}
img {
 max-width: 100%;
}
.container {
 width: 100%;
 margin: 0;
}
.button {
  background: none;
  border: 3px solid var(--aqua);
  color: var(--dark-grey);
  padding: 10px 20px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
}
.button:hover {
  color: #222;
  background: var(--aqua);
}

/* ---------------- Mobile Styles ---------------- */
/*===============Header ================*/
.wrapper img {
  margin: 20px;
}
/* Responsive Navigation Bar */
 .topnav {
  overflow: hidden; 
  position: relative;
} 
.topnav #myLinks {
  display: none;
}
.topnav a {
  display: block;
  text-decoration: none;
  font-size: 1.2em;
  color: #76dad7;
  padding: 0 16px;
}
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
.topnav a:hover {
  background-color:#a8a6b7;
}
.active {
  font-size:1em;
}
#logo-message p {
  text-align: center;
  font-size: 2em;
  line-height: 1.25em;
  margin-bottom: .5em;
}
.para p {
  font-size: 1em;
  padding: 30px;
  background-color: #91eeeb;
}
.logo-image {
  border: 40px solid #dcfaf9;
}




/* ==================== SERVICES ================ */
.services h1 {
  color: var(--white);
  height: 77px;
  background-color: var(--dark-grey);
  padding-top: 20px;
  margin-top: -16px;
}
.services-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 80px 0;
  text-align: center; 
}
video {
  max-width: 90%;
  margin-left: 5%;
  margin-bottom: 40px;
}

/* ============================ TESTIMONIALS =========================== */
#testimonial {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
#testimonial .button {
  margin-bottom: 50px;
}

.testimonials .button, a {
  color: #000;
  font-weight: bold;
}

/* ================================ ABOUT ============================= */
#about .container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--aqua);
}
h2 {
  color: var(--white);
  font-size: 1.75em;
  font-weight: 700;
  margin: 2em 0;
}
.about-photo {
  display: flex;  
  justify-content: center;
  align-items: center;
  max-width: 70%;
  /* height: 260px; */
  margin-bottom: 1em;
}
.about-para p {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 65%;
  margin-top: 10px;
  margin-left: 20%;
  color: var(--white);
  padding-bottom: 15px;  
}

/* ======================== SERVICE-AREA =================== */
#service-area {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
#service-area h1 {
  color: var(--white);
  height: 77px;
  width: 100%;
  background: #707070;
  margin-top: -10px;
  padding-top: 20px;
}
#service-area .logo img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin-left: 10%;

}
.cities img {
  padding: 10px;
}
.top a {
  margin-left: 250px; 
  color: #000;
  font-weight: bold;
  font-size: .75em;
}

/* ---------------- Footer---------------- */
footer .container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: var(--dark-grey);
}
.footer-content h1 {
  color: var(--white);
  padding: 20px 150px 0 0;
} 
.footer-items {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-left: 25%;
}
.footer-items i {

}
.end {
  display: flex;
  justify-content: center;
  background: var(--white);
  width: 100%;
  height: 100px;

}
.end h6 {
  margin: 1.75em 0;
  font-size: 1rem;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* ------------- SMALL TABLET STYLES------------ */
@media only screen and (min-width: 620px) {
/* General Styles */

 
/* Header Styles */
 

  /* =======================================
  TESTIMONIAL Page
  ========================================= */
  

}
 
/*===== LARGE TABLETS & LAPTOP STYLES =====*/
@media screen and (min-width: 960px){
 /* Header Styles */
 

/* =======================================
  TESTIMONIAL Page
  ========================================= */
  
}

/* -------------- Desktop Styles --------------- */
@media only screen and (min-width: 1200px) {

  /* Header Styles */
 

  /* =======================================
  TESTIMONIAL Page
  ========================================= */


}
   




@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

